div{
    font-family: Quicksand;
    font-weight: 700;
}

.welcome-section{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(/assets/world-map-bg.jpg) no-repeat;
    background-size: cover;
    background-position: 10%;
    overflow: hidden;
    z-index: 1050;
    color: #adff2f;
}
.content-wrap{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:100%;
    text-align: center;
}
.fly-in-text{
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
}
.fly-in-text li{
    display: inline-block;
    margin-right: 25px;
    font-size: 5em;
    columns: #fff;
    opacity: 1;
    transition: all 3s ease;
}
.fly-in-text li:last-child{
    margin-right: 0;
}
.enter-btn{
    position: relative;
    display: inline-block;
    padding: 24px 48px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 6px;
    color: #adff2f;
    text-align: center;
    text-decoration: none;
    border: 2px solid #adff2f;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    background: none;
    cursor: pointer;
    transition: 0.8s ease-out;
    opacity: 1;
}
.enter-btn:hover{
    color:#000;
}
.enter-btn::before{
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    background: #adff2f;
    z-index: -1;
    transition: top 0.8s ease-out;
}
.enter-btn:hover::before{
    top: 0;
}

.content-hidden .fly-in-text li{opacity: 0;}
.content-hidden .fly-in-text li:nth-child(1){transform: translate3d(-30px, 0, 0)}
.content-hidden .fly-in-text li:nth-child(2){transform: translate3d(0px, 0, 0)}
.content-hidden .fly-in-text li:nth-child(3){transform: translate3d(30px, 0, 0)}
.content-hidden .enter-btn { opacity: 0;transform: translate3d(0,-30px,0)}