main{
    position: relative;
    top: 45px;
    display: block;
    background: url(/assets/map-bg.jpg) no-repeat;
    background-attachment: fixed;
    background-position-y: center;
    object-fit: cover;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1em; 
}
.country-details{
    text-align: center;
}
h1{
    color: rgb(241, 171, 19);
    font-size: 2.5em;
}
img{
    margin: 0 auto;
    max-width: 50%;
}

.details{
    margin-top: 2em;
}
.details button{
    width:100%;
    max-width: 50%;
    padding: .75em;
    color: darkred;
    font-size: 1.3em;
    font-weight: 800;
    background: rgba(128,128,128,.6);
}
.list-group-item{
    max-width: 50%;
    margin: 0 auto;
    color: rgb(241, 171, 19);
    background: transparent;
}
.list-group-item > div{
    display: inline-block;
    width: 50%;
    text-align: center;
    height: 100%;
    vertical-align: middle;
}

.list-group-item .key-item{
    font-weight: 800;
    font-size: 1.1em;
    vertical-align: middle;
}
.list-group-item .val-item span{
    display: block;
    width: 100%;
    vertical-align: middle;
    margin-bottom: 5px;
}


.val-item .currency{
    border: 2px solid #fff;
    margin-bottom: 5px;
}
.val-item .currency strong{
    display: inline-block;
    width: 50%;
}
.val-item .currency .inline{
    display: inline-block;
    width: 48%;
}

.filter-btn{
    font-size: .8em;
    background: transparent;
    border-radius: 3px;
    padding: 5px 0;
    border: 1px solid rgba(241,171,19,0.8);
    transition: .4s ease-in-out;
}
.filter-btn:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgba(241,171,19,0.8);
    border: 1px solid rgb(241, 171, 19);
}

@media screen and (max-width:768px){
    .details button{
        max-width: 100%;
    }
    .list-group-item{
        max-width: 100%;
    }
}
@media screen and (max-width:440px){
    .country-details, .country-details .details{
        padding: 0;
    }
}