.countries{
    position: relative;
    top: 45px;
    display: block;
    background: url(/assets/map-bg.jpg) no-repeat;
    background-attachment: fixed;
    background-position-y: center;
    object-fit: cover;
    width: 100%;
}

.country{
    margin: .5em auto;
}
.card{
    border: 2px solid #000;
    text-align: center;
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}
h2{
    text-align: center;
    color: rgb(241, 171, 19);
}
h3{
    padding: 0;
    margin: 0;
}
.img-thumbnail{
    height:200px;
    object-fit: cover;
}

.card.europe{border: 2px solid #1986f3}
.card.asia{border: 2px solid #f3c936}
.card.africa{border: 2px solid #af2fbb}
.card.americas{border: 2px solid #0bcc7a}
.card.oceania{border: 2px solid #c30101}

.list-group{
    margin-bottom: 0;
}
.list-group-item{
    background: transparent;
    color: rgb(241, 171, 19);
    border: none;
}

.languages,.currencies{
    margin-top: 10px;
}
.languages .list-group-item, .currencies .list-group-item{
    display: inline-block;
    padding: 0px;
    margin: 0 5px 0 0;
}
.filter-btn{
    display: inline-block;
    padding: 2px 5px;
    color: rgb(241, 171, 19);;
    cursor: pointer;
    border-radius: .5em;
    font-size: .7em;
    border: 1px solid rgba(241,171,19,0.8);
    transition: .3s ease-out;
}
.filter-btn:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgba(241,171,19,0.8);
    border: 1px solid rgb(241, 171, 19);
}
.card .filter-btn.more{
    padding: .5em 3em;
    font-size: 1em;
    color: rgb(241, 171, 19);;
    border: 2px solid rgb(241, 171, 19);;
    margin: 0 0 1em 0;
    border-radius: 0;
    background: transparent;
}
.card .filter-btn.more:hover{
    text-decoration: underline;
    cursor: pointer;
    color: rgba(241,171,19,0.8);
    border: 2px solid rgba(241,171,19,0.8);
}
input[type='text'] {
    width: 100%;
    padding: 8px;
}
@media screen and (max-width:767px){
    .countries-section{
        position: relative;
    }
}