<app-header></app-header>

<main class="container-fluid countries" appMatchHeight="card">
    <app-filter-bar class="col-lg-2"></app-filter-bar>
    <div class="row col-lg-10">
        <div class="col-xs-1 col-sm-2 col-md-4 col-lg-4 country" *ngFor="let country of countries">
            <div class="card">
                <ul class="list-group">
                    <li class="list-group-item">
                        <img class="img-thumbnail" [src]="country.flag">
                    </li>
                    <li class="list-group-item">
                        <h3>{{ country.name }}</h3>
                    </li>
                    <li class="list-group-item">
                        <strong>Capital: </strong> {{ country.capital }}
                    </li>
                    <li class="list-group-item">
                        <strong>Region: </strong> {{ country.region }}
                    </li>
                    <li class="list-group-item">
                        <strong>Population: </strong> {{ country.population }}
                    </li>
                    <li class="list-group-item">
                        <strong>Languages:</strong>
                        <ul class="list-group languages">
                            <li class="list-group-item" *ngFor="let language of country.languages">
                                <a class="filter-btn">{{ language.name }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <strong>Currencies:</strong>
                        <ul class="list-group currencies">
                            <li class="list-group-item" *ngFor="let currency of country.currencies">
                                <a class="filter-btn">{{ currency.name }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a class="filter-btn more">More</a>      
            </div>
        </div>
    </div>
</main>