/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Kanit|Russo+One');
body{
    background-color: #fff;
    background-size: cover;
    background-position: 10%;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Russo One', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5bc0de; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5bccdd;
}